.flytheme-wrap{}
.flytheme-wrap h5.panel-title{ margin-bottom:10px; font-weight:700; display:block; font-size:13px; }
.flytheme-wrap h5 label{ margin-bottom:10px; font-weight:700; display:block; font-size:13px; }
.flytheme-aboutus-widget{ height:400px; overflow:scroll; }
.flytheme-custom_media_image, .flytheme-custom_media_image_two, .flytheme-custom_media_image_three{ width:120px; margin:15px 0; display:block; }
.custom_media_url{ margin-bottom:15px;}
.flytheme-footer-getintouch-widget{ height:400px; overflow-Y:scroll; }